<div class = "text-center"><%= render "shared/error", obj: @homemember %></div>
<div class = "membereditor">
  <div class="form-tag sc">家族の名前</div>
  <%= form_with(model: @homemember,url: user_homemember_url, local: true) do |f| %>
    <%= f.text_field :name %>
    <div class="submit"><%= f.submit "編集する" %>
  <% end %>
  <%= button_to '消去', user_homemember_path, method: :delete, form: { data: { turbo_confirm: "本当に削除しますか" } } %>
  <%= link_to '戻る', user_schedules_path %>
  </div>
</div>
