<div class = "schedule_form">
<%= render "shared/error", obj: @schedule %>
<%= form_with model: @schedule, url: user_schedules_path, local: true do |f| %>
<%= f.hidden_field :user_id, :value => @user.id %>
<%= f.hidden_field :member_id, :value => @members.ids %>
  <div class="title">
    <div class="form-tag sc">タイトル</div>
    <%= f.text_field :title, :size=>"35%" %>
  </div>
  <div class="content">
    <div class="form-tag sc">内容</div>
    <%= f.text_field :content, :size=>"35%" %>
  </div>
  <div class="memberschedule">
    <div class="whomember sc">誰の予定</div>
    <%= f.select :whoschedule, @members.pluck(:name) %>
  </div>
  <div class="time">
    <div class="form-tag sc">日時</div>
    <%= f.datetime_select :start_time, year_format: ->(year) { "#{year}年" }, day_format: ->(day) { "#{day}日" } %>
  </div>
  <div class="submit">
    <%= f.submit"スケジュールを作成する" %>
  </div>
  <% end %>
</div>
