<div class = "container-fluid schedule">
  <h4><%= "検索結果：#{@numbers}件" %></h4>
  <div class = "schedule-information">
    <table class = "table">
      <thead class = "thead-light">
        <tr>
          <th class = "search_title">日程</th>
          <th class = "search_title" >タイトル</th>
          <th class = "search_title">内容</th>
          <th class = "search_title">誰の予定</th>
        </tr>
      </thead>
     <tbody>
        <% @schedules.each do |schedule| %>
          <tr>
            <td class = "search_result"><%= schedule.start_time.strftime("%Y年%-m月%-d日") %></td>
            <td class = "search_result"><%= link_to schedule.title, user_schedule_url(current_user,schedule.id) %></td>
            <td class = "search_result"><%= schedule.content %></td>
            <td class = "search_result"><%= schedule.whoschedule %></td>
          </tr>
        <% end %>
     </tbody>
    </table>
　</div>
</div>
