<p id="notice"><%= notice %></p>
<div class="schedule_content">
<p>
  <strong>タイトル</strong>
  <%= @schedule.title %>
</p>

<p>
  <strong>内容</strong>
  <%= @schedule.content %>
</p>

<p>
  <strong>日時</strong>
  <%= @schedule.start_time.strftime("%m-%d") %>
</p>

<%= link_to '編集', edit_user_schedule_path(@schedule) %>
<%= button_to '消去', user_schedule_path(@schedule.id), method: :delete, form: { data: { turbo_confirm: "本当に削除しますか" } } %>
<%= link_to '戻る', user_schedules_path %>
</div>
